@import "tailwindcss";

@theme {
    --color-brand-blue: #4f7df2;
    --color-brand-blue-hover: #3b6ae2;
    --color-brand-purple: #863bff;
    --color-brand-green: #2ac084;
    --color-brand-dark: #08060d;
    --color-brand-bg-light: #f5f8ff;
    --color-brand-border: #e4e7eb;
    --color-brand-text: #374151;
    --color-brand-primary: #384EC7;
    --color-brand-gray: #6B7180;
    
    --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8fafc;
    color: #0f172a;
}

input::placeholder,
textarea::placeholder {
    color: #D1D5DB;
    opacity: 1; /* Override default browser opacity if any */
}